[Unit]
Description=Radio
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/of/scripts/openframe/radio.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
